@media all and (min-width: 1024px) {
  .cardsList {
    padding: 40px 0;
  }
}
.cardsList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.error {
  text-align: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.loader {
  border: 10px solid #f3f3f3;
  position: fixed;
  left: 50%;
  right: 50%;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
